.CloseBtn {
    position: absolute;
    right: 30px;
    top: 10px;
    padding-top: 15px;
    margin-bottom: 0;
}
  
.MsgReportCreated {
    display: flex;
    flex-direction: column;
    align-items: center;
}