.ContainerPlaceData {
    height: 100%;
    color: white;
    width: 100%;
    z-index: 1;
    background: linear-gradient(90deg, rgba(84,60,222,1) 0%, rgba(154,49,228,1) 100%);
  }
  
  .RelatedReportsWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .RelatedReportsWrapper > p {
    font-weight: 700;
    margin: 0px;
    margin-top: 50px;
    margin-bottom: -40px;
  }
  
  .PlaceSectionPlace {
    text-align: center;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .PlaceSectionPlace > div{
    margin: 20px;
    font-size: larger;
  }
  
  .AssessmentWrapper, .AmountRelatedReportsWrapper, .UserDataWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .UserDataWrapper > h1, .UserDataWrapper > h3 {
    margin: 0px;
  }

  .UserDataWrapper > img {
    margin-top: 30px;
    border-radius: 50%;
    width: 160px;
    border: white 2px solid;
  }
  
  .PlaceSectionReports {
    min-height: 70%;
    width: 100%;
  }

  .BackBtn {
    position: absolute;
    left: 20px;
    top: -5px;
    padding-top: 15px;
    margin-bottom: 0;
  }
  