.App {
  text-align: center;
}

// button

button:hover {
  cursor: pointer;
}

textarea:focus {
  outline: none;
}

p::-webkit-scrollbar{
  width: 7px;
  height: 7px;
  margin-left: 5px;
}
p::-webkit-scrollbar-thumb{
  background: linear-gradient(13deg, #9A31E4 14%,#3C9EDE 64%);
  border-radius: 10px;
  margin-left: 5px;
}
p::-webkit-scrollbar-thumb:hover{
  background: linear-gradient(13deg, #F9D4FF 14%,#C7CEFF 64%);
}
p::-webkit-scrollbar-track{
  background: #FFFFFF;
  border-radius: 10px;
  box-shadow: inset 7px 10px 12px 0px #F0F0F0;
}

// inputs

.ContainerHome {
  background-color: #6F12E7;
  min-height: 100vh;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

// sideBar

.ContainerMenu {
  width: 30%;
  z-index: 2;
}

.SideBar {
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  font-size: 0.9rem;
  box-sizing: border-box;
  display: block;
  width: 20%;
  height: 100%;
  max-height: 100%;
  position: fixed;
  top: 0;
  left: 0px;
  background-color: #9A31E4;
}

.SideBarHeader {
  color: #D4C0E2;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  font-size: 0.9rem;
  box-sizing: border-box;
  padding: 10px;
  overflow: hidden;
  height: 25%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom-right-radius: 13%;
  -webkit-box-shadow: inset -23px 114px 184px -63px rgba(232,195,231,0.39);
  -moz-box-shadow: inset -23px 114px 184px -63px rgba(232,195,231,0.39);
  box-shadow: inset -23px 114px 184px -63px rgba(232,195,231,0.39);
}

.SideBarHeader > h1{
  display: flex;
  flex-wrap: wrap;
  width: 100px;
}

.SideBarHeader > h1::before{
  content: 'Hola,';
  color: #9A31E4;
}

.SideBarMenu {
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  font-size: 0.9rem;
  box-sizing: border-box;
  padding-bottom: 10px;
  height: 75%;
  background: linear-gradient(180deg, rgba(154,49,228,1) 0%, rgba(60,158,222,1) 100%, rgba(0,8,36,1) 100%);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 13%;
  -webkit-box-shadow: -3px -44px 54px -48px rgba(0,0,0,0.41);
  -moz-box-shadow: -3px -44px 54px -48px rgba(0,0,0,0.41);
  box-shadow: -3px -44px 54px -48px rgba(0,0,0,0.41);

}

.SideBarMenu > ul {
  height: 40%;
  list-style: none;
  position: relative;
  padding-left: 0px;
  display: flex;
  flex-direction: column;
}

.SideBarMenu > ul > li {
  width: 100%;
  height: 10%;
  padding: 5px 0px;
  align-self: center;
  margin: auto;
}

.SideBarMenu > ul > li[class="active"] {
  border-left: 2px solid white;
  padding-left: 5px;
}

.SideBarFooter {
  font-weight: 400;
  line-height: 1.5;
  font-size: 0.9rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: Transparent;
  border: none;
  color: #BD0303;
}

// curve

.Curve {
  position: absolute;
  height: 50px;
  width: 100%;
  text-align: center;
  background-color: white;
  z-index: -1;
  top: 238px;
}

 .Curve::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 218px;
  background: linear-gradient(180deg, rgba(154,49,228,1) 0%, rgba(60,158,222,1) 100%, rgba(0,8,36,1) 100%);
  border-radius: 13% 0 0 0;
  z-index: 1;
}

.SideBarMenu > ul > li > button {
  background: transparent;
  color: white;
  padding: 0;
  border: none;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
}

.ContainerLocationSearchInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-left: 5px;
}

.LocationSearchInput {
  font: inherit;
  letter-spacing: inherit;
  color: currentColor;
  padding: 4px 0 5px;
  border: 0;
  box-sizing: content-box;
  background: none;
  height: 1.4375em;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  display: block;
  min-width: 0;
  width: 100%;
  -webkit-animation-name: mui-auto-fill-cancel;
  animation-name: mui-auto-fill-cancel;
  -webkit-animation-duration: 10ms;
  animation-duration: 10ms;
  outline: none;
}

.LocationSearchInput:focus{
  border: 1px solid;
  border-width: 0 0 2px;
  border-color: #cacad5;
}

.ContainerPlacesAutocomplete {
  width: 90%;
}

.ContainerPlacesAutocomplete > input {
  width: 100%;
}

.ContainerIconsSearchInput {
  width: 10%;
}

.CloseBtn {
  position: absolute;
  right: 30px;
  top: 10px;
  padding-top: 15px;
  margin-bottom: 0;
}

.MsgReportCreated {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.UploadImageWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.UploadImageLabel {
  height: 24px;
  cursor: pointer;
}

.UploadInput {
  opacity: 0;
  position: absolute;
  z-index: -1;
}