.App {
  text-align: center;
}

// button

button:hover {
  cursor: pointer;
}

textarea:focus {
  outline: none;
}

p::-webkit-scrollbar{
  width: 7px;
  height: 7px;
  margin-left: 5px;
}
p::-webkit-scrollbar-thumb{
  background: linear-gradient(13deg, #9A31E4 14%,#3C9EDE 64%);
  border-radius: 10px;
  margin-left: 5px;
}
p::-webkit-scrollbar-thumb:hover{
  background: linear-gradient(13deg, #F9D4FF 14%,#C7CEFF 64%);
}
p::-webkit-scrollbar-track{
  background: #FFFFFF;
  border-radius: 10px;
  box-shadow: inset 7px 10px 12px 0px #F0F0F0;
}

// inputs

.ContainerHome {
  background-color: #6F12E7;
  min-height: 100vh;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}